*{
    margin:0;
    padding:0;
}
h1{
    padding:20px;
    text-align:center;
    color:#FFF;
    background-color:#111112;
    box-shadow: 0px 0px 5px black;
    font-family: sans-serif;
    border-bottom:1px solid #636dfb;
}
body{
    background-color:#1a1a1d;
}
#box{
    display:flex;
    justify-content:space-around;
    margin:30px;
    flex-wrap: wrap;
}
iframe{
    width:48%;
    margin-bottom:30px;
    height:500px;
    border:1px solid #636dfb;
    border-radius:10px;
    box-shadow: 0px 0px 5px black;
    background-color:#111112;
    transition: 0.3s;
}
iframe:hover{
    border: 1px solid #9da4ff;
    transition: 0.3s;
}
